.educationContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
    margin: 100px auto;
    flex-wrap: wrap-reverse;
}

.education {
    font-size: 18px;
    color: var(--main-text-color);
}

.skill {
    width: 550px;
    font-size: 18px;
    color: var(--main-text-color);
    padding: 20px;
    box-sizing: border-box;
}

.educationGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.educationItem {
    width: 240px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    padding-bottom: 50px;
    position: relative;
    border-radius: 10px;
    border: 4px solid var(--neon-green);
    box-shadow: var(--neon-green-text-shadow-small);
}


.educationItem::after {
    content: "";
    background: var(--neon-green);
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    transform: perspective(0.2em) rotateX(10deg);
    filter: blur(100px);
}

.educationItem img {
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 10px;
    filter: saturate(155%);
    margin-bottom: 10px;
}

.educationItem .description {
    padding: 12px 0px;
    text-align: center;
}

.educationItem .description:not(:first-of-type) {
    border-bottom: 1px dotted var(--main-text-color);
}

.educationItem .description:first-of-type {
    font-size: 20px;
    font-weight: bold;
}

.educationItem .description .descriptionName {
    font-weight: bold;
    font-size: 20px;
    display: none;
}

@media screen and (max-width: 1400px) {
    .educationItem::after {
        display: none;
    }
}