.main {
    box-sizing: border-box;
    position: relative;
}

.topNavbar {
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding-left: 50px;
    padding-top: 50px;
    /* background: yellow; */
}

.topNavbar .fullName {
    /* display: none; */
}

.topNavbar .preferName {
    font-family: "Monoton";
    font-weight: normal;
    border: 1px solid #ff03e2;
    padding: 0px 20px;
    text-shadow:
        0 0 7px #ff03e2,
        0 0 10px #ff03e2,
        0 0 21px #ff03e2,
        0 0 42px #ff03e2,
        0 0 82px #ff03e2,
        0 0 92px #ff03e2,
        0 0 102px #ff03e2,
        0 0 151px #ff03e2;
    box-shadow:
        0 0 5px #ff03e2,
        0 0 7px #ff03e2,
        0 0 10px #ff03e2,
        0 0 12px #ff03e2,
        0 0 15px #ff03e2,
        0 0 20px #ff03e2,
        0 0 25px #ff03e2,
        0 0 50px #ff03e2;
    background: black;
    position: absolute;
    top: 60px;
    /* top: -100px; */

}

.content {
    display: flex;
}

.mainContent {
    width: calc(100% - 200px);
    margin-top: 80px;
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.mainContent #homeRefContainer {
    scroll-margin-top: 100px;
}

.mainContent #workRefContainer {
    scroll-margin-top: 140px;
}

.mainContent #projectRefContainer {
    scroll-margin-top: -100px;
}

.mainContent #educationRefContainer {
    scroll-margin-top: 100px;
}


.leftNavbar {
    width: 200px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: green;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 2;
}

.leftNavbar nav {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.leftNavbar nav a div {
    cursor: pointer;
    position: relative;
    padding: 20px;
    user-select: none;
}

.leftNavbar nav a {
    text-decoration: none;
    color: inherit;
}

/* .leftNavbar nav a div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('.././../images/circle.svg') no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}
*/

.leftNavbar nav a div.isSelected {
    text-shadow:
        0 0 7px #ff03e2,
        0 0 10px #ff03e2,
        0 0 21px #ff03e2,
        0 0 42px #ff03e2,
        0 0 82px #ff03e2,
        0 0 92px #ff03e2,
        0 0 102px #ff03e2,
        0 0 151px #ff03e2;
}


.leftNavbar nav a div.isSelectedHome span {
    color: white;
    background: rgb(0, 93, 204);
    padding: 5px 4px;
}