.main {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.topNavbar {
    height: 100px;
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0 50px;
    z-index: 100;
    box-sizing: border-box;
    background: var(--main-background-color);
    flex-wrap: wrap;
}

.topNavbar .contactInfoContainer {
    flex: 1;
    text-align: right;
}

.contactInfo .linkedIn,
.contactInfo .email {
    height: 30px;
    width: 30px;
    margin: 0 4px;
    cursor: pointer
}


.bottomContactInfo .contactInfo {
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
}

.bottomContactInfo .contactInfo .linkedIn,
.bottomContactInfo .contactInfo .email {
    fill: var(--main-text-color);
}

.topNavbar .preferName {
    font-family: "Monoton";
    font-weight: normal;
    padding: 0px 10px;
    text-shadow: var(--neon-pink-text-shadow);
    background: var(--main-background-color);
    position: absolute;
    bottom: 0px;

}

.mainContent {
    width: calc(100% - 200px);
    margin-top: 80px;
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.mainContent #homeRefContainer {
    scroll-margin-top: 100px;
}

.mainContent #workRefContainer {
    scroll-margin-top: 140px;
}

.mainContent #projectRefContainer {
    scroll-margin-top: 70px
}

.mainContent #educationRefContainer {
    scroll-margin-top: 100px;
}


.leftNavbar {
    width: 200px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--engineer-page-text-color);
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 2;
}

.leftNavbar nav {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.leftNavbar nav a div {
    cursor: pointer;
    position: relative;
    padding: 20px;
    user-select: none;
    transition: all 0.2s ease;
}

.leftNavbar nav a {
    text-decoration: none;
    color: inherit;
}

.leftNavbar nav a div.isSelected {
    text-shadow: var(--neon-pink-text-shadow);
}


.leftNavbar nav a div.isSelectedHome span {
    color: var(--main-text-color);
    background: rgb(0, 93, 204);
    padding: 5px 4px;
}

.resumeBtn {
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .mainContent {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .leftNavbar {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .topNavbar .contactInfoContainer {
        display: none;
    }

    .bottomContactInfo .contactInfo {
        display: flex;
    }
}