.workEpContainer {
    /* height: 700px; */
    padding: 20px;
    display: flex;
    position: relative;
    padding-left: 200px;
}

.companies {
    height: 100%;
    position: relative;
    flex: 1;
}

.companies>div {
    display: flex;
    height: 28%;
    align-items: center;
}

.companies>div:nth-of-type(2) {
    margin-top: 4%;
    margin-left: 15vw;
}

.companies>div:nth-of-type(3) {
    margin-top: 4%;
    margin-left: 30vw;
}

.company {
    width: 500px;
    color: white;
    box-sizing: border-box;
    position: relative;
}

.company .title {
    font-size: 20px;
    font-weight: bold;
}

.company .position {
    margin: 10px 0;
}

.company .companyContent {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 20px;
    /* border: 10px solid #0fa; */
    box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.company .linkToTimeline {
    content: '';
    position: absolute;
    top: 50%;
    /* left: -200px;
    width: 200px; */
    border-top: 4px dotted #00e1ff;
    box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #00e1ff,
        0 0 82px #00e1ff,
        0 0 92px #00e1ff,
        0 0 102px #00e1ff,
        0 0 151px #00e1ff;
    z-index: 0;
}

.company.catchpoint .linkToTimeline {
    left: -200px;
    width: 200px;
}

.company.cgu .linkToTimeline {
    left: calc(-200px - 15vw);
    width: calc(200px + 15vw);
}

.company.kerson .linkToTimeline {
    left: calc(-200px - 30vw);
    width: calc(200px + 30vw);
}