.progressBarContainer {
    margin: 13px 0px;
    width: 100%;
    background: rgb(233, 230, 230);
    height: 8px;
    border-radius: 5px;
    border-radius: 20px;
}

.innerProgressBar {
    border-radius: 20px;
}