body {
  margin: 0;
  /* font-family: monospace, 'Comic Sans MS', sans-serif; */
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  padding: 0;
  background: black;
}

.sectionTitle {
  color: white;
  font-size: 35px;
  text-shadow:
    0 0 7px #ff03e2,
    0 0 10px #ff03e2,
    0 0 21px #ff03e2,
    0 0 42px #ff03e2,
    0 0 82px #ff03e2,
    0 0 92px #ff03e2,
    0 0 102px #ff03e2,
    0 0 151px #ff03e2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#workSection .sectionTitle {
  margin-bottom: 100px;
}

#projectSection .sectionTitle {
  margin-top: 100px;
}

#educationSection .education .sectionTitle {
  margin-bottom: 50px;
}

#educationSection .skill .sectionTitle {
  margin-bottom: 30px;
}


@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');


@media screen and (max-width: 768px) {
  .sectionTitle {
    display: block;
  }
}